body {
  max-width: 1000px
  margin:auto;
}

body {
  display: grid;
  grid-template-areas:
  'header'
  'menu'
  'main'
  'right'
  'footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.item1 {grid-area: header; }
.item2 {grid-area: menu; }
.item3 {grid-area: main; }
.item4 {grid-area: right; }
.item5 {grid-area: footer; }

#grid-container > * {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

@media only screen and (min-width: 550px) {
Body {
	Background-color: lightblue;
  grid-template-areas:
  'header header header header '
  'menu main main right'
  'footer footer footer footer ';
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
	}
}
